@using System.Globalization
@using Domain
@using Microsoft.EntityFrameworkCore
@using Persistence
@model dynamic

@{
    ViewData["Title"] = "Beschikbare maaltijden";
    List<MealBox> mealBoxes = Model.mealBoxes;
}

<div class="container">

    <div class="row">
        <div class="col-4">
            <button type="button" class="btn btn-brand-color create-meal-button" data-bs-toggle="modal" data-bs-target="#CreateMealModal">
                Maaltijdbox aanmaken
            </button>
        </div>
        <div class="col-6" xmlns="http://www.w3.org/1999/html">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row justify-content-center">
        @foreach (var item in mealBoxes.Select((value, i) => new { i, value }))
        {
            var mealBox = item.value;
            string modalId = "#exampleModal" + item.i;
            string modalId2 = "exampleModal" + item.i;
            Random random = new Random();
            string photo = mealBox.MealBox_Product.ToList()[random.Next(mealBox.MealBox_Product.Count)].product.Photo;

            <div class="card col-md-12 col-lg-5">
                <img class="card-img-top" src=@photo alt="@mealBox.Name">
                <div class="card-body">
                    <h5 class="card-title">@mealBox.Name</h5>
                    <p class="card-text price-text">€ @mealBox.Price</p>
                    @if (!mealBox.IsEighteen)
                    {
                        <p class="card-text">16+ maaltijdbox</p>
                    }
                    else
                    {
                        <p class="card-text">18+ maaltijdbox</p>
                    }
                    <p class="card-text">
                        @mealBox.City <br/>
                        <!-- Button that triggers the modal -->
                        <button type="button" class="btn btn-primary stretched-link invisible-button shadow-none" data-bs-toggle="modal" data-bs-target=@modalId>
                            Details
                        </button>
                    </p>
                    <p class="card-text pickup-text">
                        <small class="muted-text">Ophalen op @mealBox.PickUpTime.ToString(CultureInfo.CurrentCulture)</small>
                    </p>
                </div>
            </div>

            <!-- Modal for MealBox details -->
            <div class="modal fade" id=@modalId2 tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">@mealBox.Name</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-6">
                                    <img class="card-img-details" src=@photo alt="@mealBox.Name">
                                    <p class="card-text pick-up-time-card">
                                        Ophalen: @mealBox.PickUpTime.ToString(CultureInfo.CurrentCulture)
                                    </p>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="price-text col-9">
                                            € @mealBox.Price
                                        </div>
                                        <div class="price-text col-3">
                                            @if (!mealBox.IsEighteen)
                                            {
                                                <p class="card-text">16+</p>
                                            }
                                            else
                                            {
                                                <p class="card-text">18+</p>
                                            }
                                        </div>
                                    </div>
                                    <p>@mealBox.City</p>
                                    <p>@mealBox.MealType</p>
                                    <p>Voorbeeld inhoud:</p>
                                    @foreach (var product in mealBox.MealBox_Product)
                                    {
                                        @product.product.Name<br/>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-brand-color">Reserveren</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("EditMealBox", "Home")'">Aanpassen</button>
                            <button type="button" class="btn btn-danger">Verwijderen</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!-- Modal for creating a MealBox -->
        <div class="modal fade" id="CreateMealModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Maaltijdbox Aanmaken</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="MealBoxName">Naam</label>
                                    <input class="form-control" id="MealBoxName" placeholder="Naam van de maaltijdbox...">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="MealBoxCity">Stad</label>
                                    <select class="form-control" id="MealBoxCity">
                                        <option>Breda</option>
                                        <option>Tilburg</option>
                                        <option>'s-Hertogenbosch</option>
                                        <option>Roosendaal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="MealBoxPickUpTime">Ophaaldatum- en tijd</label>
                                    <input type="datetime-local" class="form-control" id="MealBoxPickUpTime">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="MealBoxPickUpBy">Uiterste Ophaaldatum- en tijd</label>
                                    <input type="datetime-local" class="form-control" id="MealBoxPickUpBy">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label for="MealBoxPrice">Prijs</label>
                                    <input type="number" step="0.01" class="form-control" id="MealBoxPrice">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label for="MealBoxType">Type maaltijdbox</label>
                                    <select class="form-control" id="MealBoxType">
                                        <option>Brood</option>
                                        <option>Drank</option>
                                        <option>Dessert</option>
                                        <option>Warme Maaltijd</option>
                                        <option>Alcohol</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-12">
                                <div class="form-group">
                                    <label for="MealBoxIsEighteen">Leeftijdsgrens</label>
                                    <select class="form-control" id="MealBoxIsEighteen">
                                        <option>16+</option>
                                        <option>18+</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-brand-color">Maken</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>