@using System.Globalization
@using System.Security.Principal
@using Domain
@model List<MealBox>

@{
    ViewData["Title"] = "Beschikbare maaltijden";
    List<MealBox> mealBoxList = new List<MealBox>();
    int count = 0;
    if (User.IsInRole("Employee"))
    {
        foreach (var m in Model)
        {
            if (m.CanteenId == ViewBag.CanteenId)
            {
                mealBoxList.Add(m);
            }
        }
        foreach (var m in Model)
        {
            if (m.CanteenId != ViewBag.CanteenId)
            {
                mealBoxList.Add(m);
            }
        }
    }
    else
    {
        mealBoxList = Model;
    }
}

<div class="container">
    <div class="row">
        <div class="col-3 text-center">
            @{
                if (User.IsInRole("Employee"))
                {
                    <button type="button" class="btn btn-brand-color create-meal-button"
                            onclick="location.href='@Url.Action("CreateMealBox", "Home")'">
                        Maaltijdbox aanmaken
                    </button>
                }
            }
        </div>
        <div class="col-6 text-center" xmlns="http://www.w3.org/1999/html">
            @if (User.IsInRole("Employee"))
            {
                <h1>Maaltijdboxes van jouw kantine</h1>
            }
            else
            {
                <h1>@ViewData["Title"]</h1>
            }
        </div>
    </div>

    <div class="row justify-content-center">
        @foreach (var item in mealBoxList.Select((value, i) => new { i, value }))
        {
            var mealBox = item.value;
            var modalId = "#exampleModal" + item.i;
            var modalId2 = "exampleModal" + item.i;
            var random = new Random();
            var photo = "";
            if (User.IsInRole("Employee"))
            {
                if (mealBox.CanteenId != ViewBag.CanteenId && count < 1)
                {
                    <h1 class="text-center" style="margin-top: 20px">Maaltijdboxes van andere kantines</h1>
                    count++;
                }
            }
            try
            {
                photo = mealBox.MealBox_Product.ToList()[random.Next(mealBox.MealBox_Product.Count)].product.Photo;
            }
            catch (Exception e)
            {
                photo = "https://images.pexels.com/photos/239578/pexels-photo-239578.jpeg?auto=compress&cs=tinysrgb&w=500&h=500&dpr=1";
            }

            <div class="card col-md-12 col-lg-5">
                <img class="card-img-top" src=@photo alt="@mealBox.Name">
                <div class="card-body">
                    <h5 class="card-title">@mealBox.Name</h5>
                    <p class="card-text price-text">€ @mealBox.Price</p>
                    @if (!mealBox.IsEighteen)
                    {
                        <p class="card-text">16+ maaltijdbox</p>
                    }
                    else
                    {
                        <p class="card-text">18+ maaltijdbox</p>
                    }
                    <p class="card-text">
                        @mealBox.City <br/>
                        <!-- Button that triggers the modal -->
                        <button type="button" class="btn btn-primary stretched-link invisible-button shadow-none" data-bs-toggle="modal" data-bs-target=@modalId>
                            Details
                        </button>
                    </p>
                    <p class="card-text pickup-text">
                        <small class="muted-text">Ophalen op @mealBox.PickUpTime.ToString(CultureInfo.CurrentCulture)</small>
                    </p>
                </div>
            </div>

            <!-- Modal for MealBox details -->
            <div class="modal fade" id=@modalId2 tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">@mealBox.Name</h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-6">
                                    <img class="card-img-details" src=@photo alt="@mealBox.Name">
                                    <p class="card-text pick-up-time-card">
                                        Ophalen: @mealBox.PickUpTime.ToString(CultureInfo.CurrentCulture)
                                    </p>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="price-text col-9">
                                            € @mealBox.Price
                                        </div>
                                        <div class="price-text col-3">
                                            @if (!mealBox.IsEighteen)
                                            {
                                                <p class="card-text">16+</p>
                                            }
                                            else
                                            {
                                                <p class="card-text">18+</p>
                                            }
                                        </div>
                                    </div>
                                    <p>Stad: @mealBox.City</p>
                                    <p>Type: @mealBox.MealType</p>
                                    <p>Voorbeeld inhoud:</p>
                                    <ul class="list-group list-group-flush products-in-list">
                                        @foreach (var product in mealBox.MealBox_Product)
                                        {
                                            <li class="list-group-item">@product.product.Name</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        @if (User.IsInRole("Student"))
                        {
                            <div class="modal-footer">
                                <form method="post">
                                    <button type="submit" class="btn btn-brand-color" asp-route-id='@mealBox.Id' asp-route-email=@User.Identity.Name>Reserveren</button>
                                </form>
                            </div>
                        }
                        @if (User.IsInRole("Employee"))
                        {
                            <div class="modal-footer">
                                <button type="button" class="btn btn-brand-color" onclick="location.href='@Url.Action("EditMealBox", "Home", new { id = mealBox.Id })'">Aanpassen/Verwijderen</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>