@using System.Globalization
@using Domain
@using Microsoft.EntityFrameworkCore
@using Persistence
@model IEnumerable<Domain.MealBox>

@{
    ViewData["Title"] = "Beschikbare maaltijden";
}

<div class="container">

    <div class="row">
        <div class="col-4">
            <button type="button" class="btn btn-brand-color create-meal-button" data-bs-toggle="modal" data-bs-target="#CreateMealModal">
                Maaltijdbox aanmaken
            </button>
        </div>
        <div class="col-6" xmlns="http://www.w3.org/1999/html">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model.Select((value, i) => new { i, value }))
        {
            var mealBox = item.value;
            string modalId = "#exampleModal" + item.i;
            string modalId2 = "exampleModal" + item.i;

            <div class="card col-md-5">
                <img class="card-img-top" src="https://codingyaar.com/wp-content/uploads/bootstrap-4-card-image-left-demo-image.jpg?ezimgfmt=rs:287x287/rscb1/ngcb1/notWebP" alt="@mealBox.Name">
                <div class="card-body">
                    <h5 class="card-title">@mealBox.Name</h5>
                    <p class="card-text price-text">€ @mealBox.Price</p>
                    @if (mealBox.IsEighteen)
                    {
                        <p class="card-text">Geen leeftijdsgrens</p>
                    }
                    else
                    {
                        <p class="card-text">18+ maaltijd</p>
                    }
                    <p class="card-text">
                        @mealBox.City <br/>
                        <!-- Button that triggers the modal -->
                        <button type="button" class="btn btn-primary stretched-link invisible-button shadow-none" data-bs-toggle="modal" data-bs-target=@modalId>
                            Details
                        </button>
                    </p>
                    <p class="card-text pickup-text">
                        <small class="muted-text">Ophalen op @mealBox.PickUpTime.ToString(CultureInfo.CurrentCulture)</small>
                    </p>
                </div>
            </div>

            <!-- Modal for MealBox details -->
            <div class="modal fade" id=@modalId2 tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">@mealBox.Name</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-6">
                                    <img class="card-img-top modalImage" src="https://codingyaar.com/wp-content/uploads/bootstrap-4-card-image-left-demo-image.jpg?ezimgfmt=rs:287x287/rscb1/ngcb1/notWebP">
                                </div>
                                <div class="col-6">

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-brand-color">Reserveren</button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Aanpassen</button>
                            <button type="button" class="btn btn-danger">Verwijderen</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        <!-- Modal for creating a MealBox -->
        <div class="modal fade" id="CreateMealModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Maaltijdbox Aanmaken</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <img class="card-img-top modalImage" src="">
                            </div>
                            <div class="col-6">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>